body {
    font-family: Arial;
}

section {
    margin: 10px 0;
}

button {
    margin: 10px 0px;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.element {
    margin: 30px 0;
}

.label {
    width: 100px;
    display: inline-block;
}

.input {
    display: inline-block;
}

.success {
    color: black;
    background: lightgrey;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.error {
    color: black;
    background: lightgrey;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    max-width: 400px;
}