body {
    font-family: Arial;
}

.success {
    color: black;
    background: lightgrey;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.error {
    color: black;
    background: lightgrey;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}